@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

body {
  color: #ffffff;
  width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  margin-left: 7px;
  font-size: 62px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

h3 {
  color: #373737;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

button {
  color: #ffffff;
  padding: 15px 45px;
  background: #00afdb;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

a {
  color: #ffffff;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.header {
  height: 95px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 567px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item:nth-child(1) {
  margin-left: -15px;
  text-decoration: underline;
}

.menu-item:nth-child(2) {
  padding-left: 28px;
}

.menu-item:nth-child(3) {
  padding-left: 46px;
  padding-top: 5px;
}

.menu-item:nth-child(4) {
  padding-left: 46px;
  padding-right: 26px;
}

.menu-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.menu-item a:hover {
  color: #2eb398;
}

.life-webdev {
  margin-top: -95px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 744px;
  background: url(assets/images/bg-image1.jpg) no-repeat center;
}

.container-center {
  margin-top: 231px;
  text-align: center;
}

.container-center p {
  margin-top: 21px;
  color: #ffffff;
  font-size: 18px;
  line-height: 140%;
}

.btn-mail {
  margin-top: 30px;
  margin-left: -2px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 183px;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rappresent-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1062px;
  margin-top: 120px;
}

.rappresent-idea {
  width: 407px;
  height: 233px;
  text-align: start;
}

.rappresent-idea p {
  margin-top: 20px;
  line-height: 21px;
  color: #4e4e4e;
}
.rappresent-idea button {
  margin-top: 28px;
  margin-left: -1px;
}
.community-block {
  height: 504px;
  margin-top: 140px;
  background: #f5f6f7;
}

.community-info {
  margin-left: 269px;
  text-align: center;
  width: 298px;
}

.community-info img {
  margin-top: 155px;
}

.community-info h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  margin-top: 16px;
}

.community-info p {
  margin-top: 11px;
}

.implement-wrap {
  margin-top: 120px;
  margin-left: 269px;
  display: flex;
}

.implement-info {
  width: 407px;
  margin-top: 199px;
  margin-left: 139px;
}

.implement-info p {
  margin-top: 20px;
}

.implement-info button {
  margin-top: 32px;
}
.form-block {
  height: 598px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  background: url(/assets/images/image-bg.png) no-repeat;
}
.form-wrap {
  margin-top: 217px;
}
.form-wrap h3 {
  text-align: center;
  color: white;
}

.contact-form {
  position: relative;
  margin-top: 29px;
  margin-left: 0px;
}

.contact-form::after {
  content: url(/assets/images/fa-check.svg);
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  right: 23px;
}

.contact-form__input {
  width: 405px;
  height: 46px;
  border: none;
  padding-left: 23px;
  padding-top: 4px;
}

input[type='button'] {
  border: none;
  width: 66px;
  height: 46px;
  position: absolute;
  background: #00afdb;
  right: 0;
}
/* 
input::placeholder {
  padding-left: 23px;
  padding-top: 4px;
} */
