@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap");

body {
  color: #ffffff;
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 14px;
  margin-left: 7px;
  font-size: 62px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

h3 {
  color: #373737;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}

p {
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

button {
  color: #ffffff;
  padding: 15px 45px;
  background: #00afdb;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

a {
  color: #ffffff;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.header {
  height: 95px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  display: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 567px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item:nth-child(1) {
  margin-left: -15px;
  text-decoration: underline;
}

.menu-item:nth-child(2) {
  padding-left: 28px;
}

.menu-item:nth-child(3) {
  padding-left: 41px;
  padding-top: 5px;
}

.menu-item:nth-child(4) {
  padding-left: 46px;
  padding-right: 26px;
}

.menu-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.menu-item a:hover {
  color: #2eb398;
}

.life-webdev {
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 744px;
  background: url(assets/images/bg-image1.jpg) no-repeat center;
}

.container-center {
  text-align: center;
}

.container-center p {
  color: #ffffff;
  font-size: 18px;
  line-height: 140%;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1062px;
  margin-top: 120px;
}

.task-info {
  width: 407px;
  height: 233px;
  text-align: start;
}

.task-info p {
  margin-top: 20px;
  line-height: 21px;
  color: #4e4e4e;
}
.task-info button {
  margin-top: 28px;
  margin-left: -1px;
}
/* Footer form*/
/*
.form {
  height: 564px;
  background-color: #323232;
  position: relative;
}

.box-form {
  display: flex;
}

.in-touch-form:before {
  content: "";
  display: block;
  width: 94%;
  height: 1px;
  background-color: #2b2b2b;
  top: 13px;
  left: 30px;
  position: absolute;
}

.in-touch-form {
  max-width: 580px;
  margin-left: 121px;
  padding-top: 59px;
}

.in-touch-form fieldset legend {
  color: #e0e0e0;
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.in-touch-form fieldset p {
  color: #bebebe;
  font-family: "Maven Pro";
  font-size: 18px;
  font-weight: 400;
}



.in-touch-form {
}

.in-touch-form fieldset input {
  width: 100%;
  height: 38px;
  border: none;
  padding-left: 15px;
  background-color: #454545;
}

#form-message {
  width: 100%;
  height: 150px;
  border: none;
  background-color: #454545;
  color: #bebebe;
  margin-top: 16px;
  padding-left: 13px;
  padding-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

#form-message::placeholder {
  color: #bebebe;
}

.in-touch-form fieldset input:placeholder {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #bebebe;
}

.input-text {
  margin-top: 20px;
}

.input-email {
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-button {
  width: 90px;
  height: 37px;
  background-color: #2eb398;
  float: right;
  margin-top: 12px;
  margin-right: 1px;
  color: #d7fcf5;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.form-info {
  width: 181px;
  margin-top: 128px;
  margin-left: 19px;
  color: #bebebe;
  font-family: Lato;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-info {
  line-height: 22px;
  word-spacing: 1px;
}

.text-info span {
  font-weight: 900;
  color: #e0e0e0;
}

.box-contact {
  width: 145px;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.box-contact img {
  float: left;
}

.box-contact div {
  display: flex;
  align-items: center;
}

.contact-location {
  padding-left: 2px;
}

.box-contact div a,
.box-contact div p {
  padding-left: 14px;
}

.box-contact div a {
  color: #bebebe;
  font-family: Lato;
}

.contact-phone {
  margin-top: 7px;
  margin-bottom: 6px;
}

.in-touch-form::after {
  content: "";
  display: block;
  width: 94%;
  height: 1px;
  background-color: #2b2b2b;
  bottom: 11px;
  left: 30px;
  position: absolute;
}

.footer {
  height: 43px;
  background-color: #222222;
  display: flex;
  align-items: center;
}

.footer p {
  margin-left: 39px;
  font-family: "Maven Pro Regular";
  color: #454545;
  font-size: 12px;
  word-spacing: 1px;
} */
